.history__swiper-slide {
    background: #fff;
    border-radius: 16px;

    box-sizing: border-box !important;

    padding: 14px 14px !important;
}

@media screen 
and (min-width: 1366px) {
    .history__swiper-slide {
        padding: 20px 20px !important;
    }
}